@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*noinspection CssUnknownTarget*/
  @font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /*noinspection CssUnknownTarget*/
  @font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /*noinspection CssUnknownTarget*/
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /*noinspection CssUnknownTarget*/
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --primary-0: 0deg 0% 0%;
    --primary-10: 87deg 100% 6%;
    --primary-20: 83deg 100% 11%;
    --primary-25: 83deg 100% 13%;
    --primary-30: 82deg 100% 15%;
    --primary-35: 82deg 100% 18%;
    --primary-40: 81deg 100% 21%;
    --primary-50: 81deg 100% 26%;
    --primary-60: 80deg 100% 31%;
    --primary-70: 80deg 100% 37%;
    --primary-80: 81deg 82% 47%;
    --primary-90: 83deg 93% 60%;
    --primary-95: 84deg 100% 79%;
    --primary-98: 81deg 100% 92%;
    --primary-99: 75deg 100% 95%;
    --primary-100: 0deg 0% 100%;

    --secondary-0: 0deg 0% 0%;
    --secondary-10: 268deg 100% 17%;
    --secondary-20: 269deg 100% 27%;
    --secondary-25: 270deg 100% 32%;
    --secondary-30: 270deg 100% 37%;
    --secondary-35: 269deg 91% 44%;
    --secondary-40: 267deg 78% 52%;
    --secondary-50: 265deg 100% 65%;
    --secondary-60: 264deg 100% 73%;
    --secondary-70: 263deg 100% 80%;
    --secondary-80: 264deg 100% 86%;
    --secondary-90: 267deg 100% 93%;
    --secondary-95: 273deg 100% 96%;
    --secondary-98: 293deg 100% 98%;
    --secondary-99: 300deg 100% 99%;
    --secondary-100: 0deg 0% 100%;

    --tertiary-0: 0deg 0% 0%;
    --tertiary-10: 312deg 100% 12%;
    --tertiary-20: 311deg 100% 19%;
    --tertiary-25: 311deg 100% 22%;
    --tertiary-30: 310deg 100% 26%;
    --tertiary-35: 310deg 100% 30%;
    --tertiary-40: 310deg 100% 35%;
    --tertiary-50: 311deg 85% 46%;
    --tertiary-60: 313deg 94% 61%;
    --tertiary-70: 317deg 100% 74%;
    --tertiary-80: 321deg 100% 84%;
    --tertiary-90: 328deg 100% 92%;
    --tertiary-95: 335deg 100% 96%;
    --tertiary-98: 351deg 100% 99%;
    --tertiary-99: 300deg 100% 99%;
    --tertiary-100: 0deg 0% 100%;

    --neutral-0: 0deg 0% 0%;
    --neutral-10: 75deg 8% 10%;
    --neutral-20: 72deg 5% 18%;
    --neutral-25: 72deg 4% 23%;
    --neutral-30: 72deg 4% 27%;
    --neutral-35: 70deg 4% 31%;
    --neutral-40: 70deg 3% 36%;
    --neutral-50: 60deg 3% 45%;
    --neutral-60: 60deg 3% 56%;
    --neutral-70: 60deg 4% 66%;
    --neutral-80: 60deg 6% 77%;
    --neutral-90: 53deg 14% 88%;
    --neutral-95: 53deg 26% 93%;
    --neutral-98: 53deg 53% 97%;
    --neutral-99: 47deg 82% 98%;
    --neutral-100: 0deg 0% 100%;

    --neutral-variant-0: 0deg 0% 0%;
    --neutral-variant-10: 84deg 21% 9%;
    --neutral-variant-20: 82deg 12% 17%;
    --neutral-variant-25: 82deg 10% 22%;
    --neutral-variant-30: 76deg 8% 26%;
    --neutral-variant-35: 80deg 8% 31%;
    --neutral-variant-40: 80deg 7% 35%;
    --neutral-variant-50: 78deg 6% 45%;
    --neutral-variant-60: 74deg 6% 55%;
    --neutral-variant-70: 73deg 8% 65%;
    --neutral-variant-80: 72deg 12% 75%;
    --neutral-variant-90: 72deg 22% 86%;
    --neutral-variant-95: 68deg 37% 92%;
    --neutral-variant-98: 71deg 67% 95%;
    --neutral-variant-99: 71deg 89% 96%;
    --neutral-variant-100: 0deg 0% 100%;

    --primary: var(--primary-40);
    --on-primary: var(--primary-100);
    --primary-container: var(--primary-90);
    --on-primary-container: var(--primary-10);
    --secondary: var(--secondary-40);
    --on-secondary: var(--secondary-100);
    --secondary-container: var(--secondary-90);
    --on-secondary-container: var(--secondary-10);
    --tertiary: var(--tertiary-40);
    --on-tertiary: var(--tertiary-100);
    --tertiary-container: var(--tertiary-90);
    --on-tertiary-container: var(--tertiary-10);
    --background: var(--neutral-99);
    --on-background: var(--neutral-10);
    --surface: var(--neutral-99);
    --on-surface: var(--neutral-10);
    --surface-variant: var(--neutral-variant-90);
    --on-surface-variant: var(--neutral-variant-30);
    --outline: var(--neutral-variant-50);
    --inverse-on-surface: var(--neutral-95);
    --inverse-surface: var(--neutral-20);
    --inverse-primary: var(--primary-80);
    --shadow: var(--neutral-variant-0);
    --surface-tint: var(--primary-40);
    --outline-variant: var(--neutral-variant-80);
    --scrim: var(--neutral-variant-0);
  }

  .dark {
    --primary: var(--primary-80);
    --on-primary: var(--primary-20);
    --primary-container: var(--primary-30);
    --on-primary-container: var(--primary-90);
    --secondary: var(--secondary-80);
    --on-secondary: var(--secondary-20);
    --secondary-container: var(--secondary-30);
    --on-secondary-container: var(--secondary-90);
    --tertiary: var(--tertiary-80);
    --on-tertiary: var(--tertiary-20);
    --tertiary-container: var(--tertiary-30);
    --on-tertiary-container: var(--tertiary-90);
    --background: var(--neutral-10);
    --on-background: var(--neutral-90);
    --surface: var(--neutral-10);
    --on-surface: var(--neutral-90);
    --surface-variant: var(--neutral-variant-30);
    --on-surface-variant: var(--neutral-variant-80);
    --outline: var(--neutral-variant-60);
    --inverse-on-surface: var(--neutral-10);
    --inverse-surface: var(--neutral-90);
    --inverse-primary: var(--primary-40);
    --shadow: var(--neutral-variant-0);
    --surface-tint: var(--primary-80);
    --outline-variant: var(--neutral-variant-30);
    --scrim: var(--neutral-variant-0);
  }
}
