@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --grid-template-desktop: [full-start] 1fr [aside-left-start] minmax(auto, 15rem) [aside-left-end
    extra-start] 2rem [image-start] 2rem [content-start] 4rem [annotation-start] min(34.5rem, 100%)
    [annotation-end] 4rem [content-end] 2rem [image-end] 2rem [extra-end aside-right-start]
    minmax(auto, 15rem) [aside-right-end] 1fr [full-end];
  --grid-template-tablet: [full-start] 1fr [extra-start] 2rem [image-start] 2rem [aside-left-start
    content-start aside-right-start] 4rem [annotation-start] min(34.5rem, 100%) [annotation-end]
    4rem [aside-left-end content-end aside-right-end] 2rem [image-end] 2rem [extra-end] 1fr
    [full-end];
  --grid-template-mobile: [full-start] 1rem [extra-start image-start] 1rem [content-start] 1rem
    [annotation-start aside-left-start aside-right-start] 1fr [aside-right-end aside-left-end
    annotation-end] 1rem [image-end extra-end] 1rem [full-end];
}