---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
const formattedTitle = title.trim().toLowerCase();
---

<section id={formattedTitle} class:list={['scroll-m-32 mt-20!', className]}>
  <h2 class="text-4xl font-extrabold font-serif">
    /<span class="bg-gradient-to-br from-lime-400 to-green-600 bg-clip-text text-transparent">
      {formattedTitle}
    </span>
  </h2>
  <slot />
</section>
