---
import BaseSection from './BaseSection.astro';
---

<BaseSection title="projects">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe, quam voluptatem aliquam
    iure minima qui esse necessitatibus quasi repellendus eaque distinctio illo tenetur deleniti
    magni? Repellendus numquam explicabo tempora. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Debitis saepe, quam voluptatem aliquam iure minima qui esse necessitatibus quasi
    repellendus eaque distinctio illo tenetur deleniti magni? Repellendus numquam explicabo
    tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis saepe, quam voluptatem
    aliquam iure minima qui esse necessitatibus quasi repellendus eaque distinctio illo tenetur
    deleniti magni? Repellendus numquam explicabo tempora.
  </p>
</BaseSection>
