---
import IconMarquee from '@components/marquee/IconMarquee.astro';
import BaseSection from './BaseSection.astro';

import AngularIcon from '@assets/icons/skills/angular.svg';
import AstroIcon from '@assets/icons/skills/astro.svg';
import NextIcon from '@assets/icons/skills/nextdotjs.svg';
import NuxtIcon from '@assets/icons/skills/nuxt.svg';
import ReactIcon from '@assets/icons/skills/react.svg';
import VueIcon from '@assets/icons/skills/vuedotjs.svg';

import CIcon from '@assets/icons/skills/c.svg';
import CPlusPlusIcon from '@assets/icons/skills/cplusplus.svg';
import CSharpIcon from '@assets/icons/skills/csharp.svg';
import CssIcon from '@assets/icons/skills/css.svg';
import HtmlIcon from '@assets/icons/skills/html5.svg';
import JavaIcon from '@assets/icons/skills/java.svg';
import JavaScriptIcon from '@assets/icons/skills/javascript.svg';
import PythonIcon from '@assets/icons/skills/python.svg';
import TypeScriptIcon from '@assets/icons/skills/typescript.svg';

import AdobeIcon from '@assets/icons/skills/adobe.svg';
import BlenderIcon from '@assets/icons/skills/blender.svg';
import DockerIcon from '@assets/icons/skills/docker.svg';
import FigmaIcon from '@assets/icons/skills/figma.svg';
import GitIcon from '@assets/icons/skills/git.svg';
import MongoDBIcon from '@assets/icons/skills/mongodb.svg';
import NodeIcon from '@assets/icons/skills/nodedotjs.svg';
import PostgresIcon from '@assets/icons/skills/postgresql.svg';
import TailwindIcon from '@assets/icons/skills/tailwindcss.svg';

const tools = [
  AdobeIcon,
  FigmaIcon,
  BlenderIcon,
  DockerIcon,
  GitIcon,
  NodeIcon,
  PostgresIcon,
  MongoDBIcon,
  TailwindIcon,
];

const languages = [
  HtmlIcon,
  CssIcon,
  JavaScriptIcon,
  TypeScriptIcon,
  CIcon,
  CPlusPlusIcon,
  CSharpIcon,
  JavaIcon,
  PythonIcon,
];

const frameworks = [AngularIcon, AstroIcon, ReactIcon, VueIcon, NuxtIcon, NextIcon];
---

<BaseSection title="skills">
  <p class="text-lg mt-4">
    A developer is only as good as their tools &mdash; that’s why I’m always testing new ones. But
    these are the ones I keep coming back to when building my projects.
  </p>
  <div class="my-16 mask-x-from-90% mask-x-to-100%">
    <IconMarquee
      skills={languages}
      speed={30}
      gap={16}
      direction="reverse"
      ariaLabel="Scrolling list of programming languages used"
    />
    <IconMarquee
      class="my-2"
      skills={frameworks}
      speed={40}
      gap={32}
      ariaLabel="Scrolling list of frameworks used"
    />
    <IconMarquee
      skills={tools}
      speed={20}
      gap={16}
      direction="reverse"
      ariaLabel="Scrolling list of tools used"
    />
  </div>
</BaseSection>
