---
import HighlightLink from '@components/HighlightLink.astro';
import Typewriter from 'astro-typewriter';
---

<div id="about" class="scroll-m-32">
  <h1 class="text-4xl font-extrabold font-serif">
    Hey, I'm <Typewriter
      class="bg-gradient-to-br from-lime-400 to-green-600 bg-clip-text text-transparent"
      messages={['Chris', 'a Developer', 'building clean, scalable web apps']}
    />
  </h1>
  <p class="text-xl text-gray-400 font-serif font-medium">Software Engineer and Media Computer</p>
  <p class="text-lg mt-4">
    I'm a software engineer and media computing specialist with a passion for crafting clean,
    scalable web applications. Currently, I'm pursuing my Master’s degree <HighlightLink
      href="https://www.hdm-stuttgart.de/"
      target="_blank"
      rel="noopener noreferrer">@Hochschule der Medien</HighlightLink
    > while working <HighlightLink
      href="https://pep.digital"
      target="_blank"
      rel="noopener noreferrer">@pep.digital</HighlightLink
    > as a Software Engineer in Esslingen.
  </p>
  <p class="text-lg mt-2">
    My focus is on crafting intuitive user interfaces and building seamless user experiences &mdash;
    from pixel-perfect frontends to performant architectures in the backend.
  </p>
</div>
