---

---

<li
  class:list={[
    'relative last:after:hidden',
    'before:absolute before:bg-gradient-to-tr before:from-lime-400 before:to-green-600 before:top-2 before:aspect-square before:w-3 before:rounded-sm before:-left-4.25 before:z-10',
    'after:absolute after:bg-neutral-200 after:top-6.5 after:bottom-0 after:w-0.5 after:h-full after:-left-3',
  ]}
>
  <slot />
</li>
