---

---

<div class="mt-4 grid gap-4 grid-cols-5 isolate">
  <div class="col-span-5 md:col-span-2">
    <slot name="left" />
  </div>
  <ul class="col-span-5 md:col-span-3 space-y-6 ml-6 md:ml-0">
    <slot name="right" />
  </ul>
</div>
