@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'League Spartan', system-ui, sans-serif;
  }
}

.text-format {
  @apply text-black dark:text-white opacity-[87%];
}

.paragraph{
  @apply text-format text-xl xl:text-lg md:text-base
}

.text-footer{
  @apply text-format text-lg md:text-base sm:text-sm font-bold
}

.text-footer-copyright{
  @apply text-format text-base md:text-xs
}

.voxel-sizes{
  @apply h-[640px] w-[640px] xl:h-[480px] xl:w-[480px] md:h-[280px] md:w-[280px]
}

.section{
  @apply w-full h-screen flex flex-col justify-center
}

.hover-effect{
  @apply before:content-[''] before:absolute
  before:w-full before:h-[3px] before:bg-l-primary before:dark:bg-d-primary 
  before:top-[50%] before:translate-y-[-50%]
  before:animate-[out_0.2s_cubic-bezier(1,0,0.58,0.97)_1_both]
  hover:before:animate-[in_0.2s_cubic-bezier(1,0,0.58,0.97)_1_both]
  focus:before:animate-[in_0.2s_cubic-bezier(1,0,0.58,0.97)_1_both]
}

.Typewriter {
  @apply dark:text-white text-6xl xl:text-5xl md:text-3xl font-bold text-format;
}

.Typewriter span span {
  @apply text-l-primary dark:text-d-primary;
}

.active::before {
  width: 100% !important;
  right: auto;
  left: 0;
}

.rainbow_gradient {
  background: linear-gradient(
    45deg,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  background-size: 400% 400%;
  animation: gradient_move 20s linear infinite;
}

@keyframes gradient_move {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% 400%;
  }
}

@media screen and (max-width: 1279px) {
  @keyframes gradient_move {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 400% 0%;
    }
  }
}

body::-webkit-scrollbar {
  width: 20px;
  position: absolute;
}

body::-webkit-scrollbar-track {
  background-color: #D3D3D1;
}

body.dark::-webkit-scrollbar-track {
  background-color: #141616;
}

body::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #757575;
}
